<div class="page-header">
	<h1>Stories</h1>
</div>

<table class="table table-striped">
	<thead>
		<th>Identifier</th>
		<th>Year</th>
		<th>Body</th>
		<th>Lat/Lng</th>
		<th>Created</th>
	</thead>
	<tbody>
		<% @stories.each do |story| %>
			<tr>
				<td><%= link_to(story.identifier, story_path(story)) %></td>
				<td><%= story.year %></td>
				<td><%= truncate(story.body, length: 300) %></td>
				<td><%= story.lat %>/<%= story.lng %></td>
				<td><%= story.created_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>
