<div class="page-header">
	<h1><%= vt('about') %></h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="col-md-6 col-sm-8 col-xs-12 pull-right right-image">
			<%= image_tag('crim-dell.png', class: 'img-responsive img-rounded center-block') %>
		</div>
		
		<p><%= vt('project') %></p>
		<p><%= vt('p1') %></p>
		<p><%= vt('p2') %></p>
		<p><%= vt('p3_html', link: mail_to('kevin.deisz@gmail.com', vt('here'))) %></p>
	</div>
</div>
