<div class="page-header">
	<h1>One Tribe, Many Memories</h1>
</div>

<%= render(template: 'stories/new') %>

<div class="row">
	<div class="col-xs-12">
		<div id="map" style="height: 700px"></div>
	</div>
</div>

<script>
var activeMarker;
var infoWindows = [];

function closeWindows() {
	for(var i = 0; i < infoWindows.length; i++) {
		infoWindows[i].close();
	}
}

function loadMarker(map, lat, lng, body, storyId) {
	var marker = new google.maps.Marker({
		map: map,
		position: new google.maps.LatLng(lat, lng)
	});
	var infoWindow = new google.maps.InfoWindow({
		content: body + "<br /><br /><a href='/stories/" + storyId + "'>Read more...</a>"
	});
	infoWindows.push(infoWindow);
	google.maps.event.addListener(marker, "click", function() {
		infoWindow.open(map, marker);
	});
}

$(document).ready(function() {
	var map = new google.maps.Map(document.getElementById("map"), {
		center: new google.maps.LatLng(<%= Rails.configuration.x.lat %>, <%= Rails.configuration.x.lng %>),
		zoom: 16,
		mapTypeId: google.maps.MapTypeId.HYBRID,
		disableDoubleClickZoom: true
	});
	
	google.maps.event.addListener(map, "dblclick", function(event) {
		var latLng = event.latLng;
		
		activeMarker = new google.maps.Marker({
			position: latLng,
			animation: google.maps.Animation.BOUNCE,
			map: map
		});
		
		$("#story_lat").val(latLng.A);
		$("#story_lng").val(latLng.F);
		$("#new-story").modal();
	});
	
	<% @stories.each do |story| %>
		loadMarker(map, <%= story.lat %>, <%= story.lng %>, "<%= j truncate(story.body, length: 200) %>", <%= story.id %>);
	<% end %>
	
	$("#cancel-story").on("click", function(event) {
		activeMarker.setMap(null);
	});
});
</script>
