<div class="modal fade" tabindex="-1" role="dialog" id="new-story">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<h4 class="modal-title">New Story</h4>
			</div>
			<div class="modal-body">
				<div id="errors"></div>
				
				<%= form_for(@story, remote: true, html: { class: 'form-horizontal' }) do |form| %>
					<%= form.hidden_field(:lat) %>
					<%= form.hidden_field(:lng) %>
					
					<div class="form-group">
						<div class="col-xs-12">
							<%= form.number_field(:year, class: 'form-control', placeholder: 'Class Year') %>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<%= form.text_area(:body, rows: 10, class: 'form-control', placeholder: 'Memory') %>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<div class="pull-right">
								<%= form.submit('Submit', class: "btn btn-primary", data: { disable_with: 'Submitting...' }) %>
								<button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-story">Cancel</button>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
