<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>One Tribe, Many Memories</title>
		
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="nav-container">
			<div class="container">
				<div class="row">
					<%= nav_link('Home', root_path, :globe) %>
					<%= nav_link('Feed', feed_stories_path, :signal) %>
					<%= nav_link('About', about_path, :cog) %>
					
					<div class="col-sm-4 col-sm-offset-2 col-xs-12">
						<%= form_tag(search_stories_path, id: 'search-form') do %>
							<div class="input-group">
								<%= text_field_tag(:query, params[:query], class: 'form-control', placeholder: 'Search...') %>
								<span class="input-group-btn">
									<%= submit_tag('Search', class: 'btn btn-default') %>
								</span>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<%= yield %>
		</div>
		<div class="text-center" id="footer">
			<%= image_tag('wm_cypher_gold.png', size: '100x100') %>
		</div>
	</body>
</html>
